/* regole genearli */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 25px;
}

/* header */
/* navbar */

.navbar {
  height: 70px;
}
.navbar ul li a {
  text-transform: capitalize;
  text-decoration: none;
  font-weight: bold;
  color: black;
  margin-right: 8px;
  font-size: 15px;
}
.navbar ul li a i {
  font-size: 12px;
  margin-left: 2px;
}

.nav_logo {
  height: 70px;
  line-height: 65px;
}
.nav_logo img {
  width: 180px;
  vertical-align: middle;
}

.hb_menu {
  display: none;
  text-align: right;
  color: #006AFF;
  font-size: 22px;
  padding-right: 20px;
}

.nav_link_right {
  text-align: right;
}

.nav_link_center,
.nav_link_right,
.hb_menu {
  line-height: 70px;
}

.nav_link_center ul li,
.nav_link_right ul li {
  list-style: none;
  display: inline-block;
}

.nav_link_right ul li:last-child a {
  border: 1px solid #006AFF;
  color: #006AFF;
  padding: 10px;
  border-radius: 5px;
}

/* sezione principale header */

.main_header {
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
}

.main_header_text {
  color: white;
}
.main_header_text h1 {
  font-size: 60px;
}

/* sezione principale header - zona testo sinistra */

.main_header_text {
  padding: 100px 30px 100px 0;
}
.main_header_text p {
  color: #BACCFF;
  line-height: 30px;
}

/* sezione principale header - zona login destra */

.get_started_div {
  border: 1px solid green;
  background-color: white;
  border-radius: 5px;
  margin: 100px 0;
}

.get_started_title {
  text-align: center;
  margin-top: 30px;
}
.get_started_title .blue_title {
  margin-top: 5px;
  color: #006AFF;
}

.form_login span input {
  display: block;
  width: 90%;
  margin: 8px auto;
  padding: 7px 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.create_btn {
  display: block;
  text-align: center;
  width: 90%;
  margin: 5px auto;
  padding: 5px 0;
  border-radius: 3px;
  background-color: #579AFF;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.google_btn {
  text-align: center;
  width: 90%;
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 5px 5px 5px -3px #DADADA;
  display: block;
  font-size: 15px;
}
.google_btn::after {
  content: "";
  display: table;
  clear: both;
}
.google_btn img {
  height: 17px;
  vertical-align: middle;
  float: left;
  opacity: 80%;
}
.google_btn {
  color: #757575;
  font-weight: bold;
  text-decoration: none;
}

.form_login p {
  text-align: center;
  margin: 20px 0 35px;
  font-size: 12px;
}

/* main */
/* div logo partner */

.partners_logo {
  background-color: #F3F5F9;
  text-align: center;
  padding-top: 50px;
  color: #707C98;
  padding-left: 20px;
  padding-right: 20px;
}
.partners_logo h4 {
  padding-bottom: 30px;
}
.partners_logo a {
  display: inline-block;
  color: #006AFF;
  text-decoration: none;
  margin: 20px 0 30px;
}
.partners_logo a::after {
  content: ">";
  margin-left: 10px;
}

.partners_logo_title {
  text-transform: uppercase;
}



/* zona loghi */

.logo_info {
  height: 80px;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.logo_n1 {
  background-image: url("../img/docker-bab60eeb.png");
}

.logo_n2 {
  background-image: url("../img/gitlab-166e2067.png");
}

.logo_n3 {
  background-image: url("../img/slack-e20293da.png");
}

.logo_n4 {
  background-image: url("../img/hashicorp-4431df79.png");
}

.logo_n5 {
  background-image: url("../img/wework-be6eab32.png");
}

.logo_n6 {
  background-image: url("../img/splunk-06b17d75.png");
}

/* sezione deploy */

.deploy {
  margin-bottom: 40px;
}

.deploy_text {
  padding: 50px 0;
  text-align: center;
  line-height: 30px;
  color: #707C98;
}
.deploy_text h2 {
  font-size: 35px;
  color: #031C4E;
  padding: 70px 0 20px;
}

.deploy_menu {
  float: left;
  width: 35%;
  height: 100%;
}
.deploy_menu ul li {
  list-style: none;
  border-left: 2px solid #707C98;
  margin-left: 10px;
  text-transform: capitalize;
  padding: 10px 10px;
  color: #707C98;
}

.deploy_stages_fl {
  float: left;
  width: 65%;
}
.deploy_stages_fl::after {
  content: "";
  display: table;
  clear: both;
}

.deploy_stages_fr {
  float:right;
  width: 65%;
}
.deploy_stages_fr::after {
  content: "";
  display: table;
  clear: both;
}

.deploy_col {
  float: left;
  width: 50%;
  height: 50%;
  padding-bottom: 30px;
  padding-right: 10px;
  font-size: 15px;
}
.deploy_col img {
  height: 40px;
  margin-bottom: 20px;
}
.deploy_col p {
  color: #707C98;
  margin-top: 10px;
  line-height: 20px;
}

/* zona slider top */

.slider_top {
  background-color: #F3F5F9;
  text-align: center;
}
.slider_top_t_text h2 {
  font-size: 30px;
  color: #031C4E;
  padding: 70px 0 20px;
}
.slider_top_t_text p {
  color: #707C98;
  padding-bottom: 50px;
}

.slider_top_img i {
  font-size: 40px;
  padding: 0 20px;
  line-height: 350px;
  vertical-align: middle;
}
.slider_top_img i:not(:last-child) {
  color: #6F7B97;
}
.slider_top_img img {
  height: 350px;
  vertical-align: middle;
}

.slider_top_b_text p {
  color: #051E4F;
  font-size: 15px;
  padding-top: 15px;
}
.slider_top_b_text i {
  color: #006AFF;
  padding-top: 10px;
  font-size: 10px;
  margin-bottom: 70px;
}

/* sezione features */

.features {
  padding-left: 20px;
  padding-right: 20px;
}

.features_container {
  font-size: 15px;
  padding-bottom: 70px;
}
.features_container img {
  height: 40px;
  margin-bottom: 20px;
}
.features_container h2 {
  text-align: center;
  font-size: 35px;
  color: #031C4E;
  padding-top: 70px;
  padding-bottom: 30px;
}
.features_container p {
  line-height: 20px;
  margin-top: 10px;
  padding-right: 30px;
}
.features_container a {
  text-decoration: none;
  color: #006AFF;
  display: inline-block;
  margin-top: 10px;
}
.features_container a::after {
  content: ">";
  margin-left: 10px;
}

/* sezione around the world */

.around_the_world {
  background: rgb(0,30,153);
  background: radial-gradient(circle, rgba(0,30,153,1) 0%, rgba(0,66,192,1) 0%, rgba(0,53,178,1) 66%, rgba(0,53,178,1) 81%, rgba(0,52,176,1) 90%);
  color: white;
}
.around_the_world h2 {
  text-align: center;
  font-size: 35px;
  padding-top: 70px;
}

.atw_container_l {
  float: left;
  width: calc(50% - 10px);
  padding-right: 10px;
  margin: 10px 0 70px;
}

.atw_container_r {
  float: right;
  width: calc(50% - 10px);
  height: 200px;
  padding-left: 10px;
  margin: 10px 0 70px;
}

.atw_row {
  font-size: 15px;
  border-top: 1px solid white;
  padding: 10px 15px;
}
.atw_row::after {
  content: "";
  display: table;
  clear: both;
}
.around_the_world .container .atw_container_l .atw_row:first-child,
.around_the_world .container .atw_container_r .atw_row:first-child {
  border-top: 0;
}

.atw_server_name,
.atw_server_nation {
  float: left;
}

.atw_server_name {
  padding-right: 50px;
  text-transform: uppercase;
}

.atw_server_nation {
  text-transform: capitalize;
  color: #AAB9E2;
}

.atw_test_speed {
  float: right;
}
.atw_test_speed a {
  color: #00D3D2;
  text-decoration: none;
}
.atw_test_speed a::after {
  content: ">";
  margin-left: 10px;
}

/* sezione slider_bot */

.slider_bot {
  background-color: #F3F5F9;
  text-align: center;
}

.slider_bot_title h2 {
  font-size: 30px;
  color: #031C4E;
  padding: 50px 0 70px;

}

.slider_bot_div {
  background-color: white;
  padding: 50px 5px;
  position: relative;
}
.slider_bot_div span {
  display: block;
  font-size: 15px;
  color: #031C4E;
}
.slider_bot_div .author_bold {
  font-weight: bold;
  padding-top: 20px;
}
.slider_bot_div p {
  color: #707C98;
  line-height: 30px;
  margin-top: 10px;
}
.slider_bot_div a {
  color: #006AFF;
  font-size: 15px;
  padding: 20px 0;
  display: inline-block;
}

.slider_bot_container {
  height: 332px;
}
.slider_bot_container .slider_bot_arrow:first-child {
  color: #6F7B97;
}

.slider_bot_arrow {
  height: 100%;
  line-height: 332px;
  font-size: 40px;
}
.col-lg-12.slider_circles {
  margin-top: 30px;
  height: auto;
}
.slider_circles i {
  color: #006AFF;
  font-size: 10px;
  margin-bottom: 70px;
}

.slider_bot img {
  width: 70%;
}

/* ultimo div prima del footer */

.get_started_now_div {
  background: rgb(0,30,153);
  background: radial-gradient(circle, rgba(0,30,153,1) 0%, rgba(0,66,192,1) 0%, rgba(0,53,178,1) 66%, rgba(0,53,178,1) 81%, rgba(0,52,176,1) 90%);
  color: white;
  text-align: center;
  padding: 70px 0;
  color: white;
}
.get_started_now_div h2 {
  font-size: 30px;
}
.get_started_now_div a {
  background: white;
  color: #006AFF;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

/* footer */

footer {
  font-size: 15px;
  padding: 50px 0 70px;
  background: rgb(0,43,84);
  background: linear-gradient(180deg, rgba(0,43,84,1) 0%, rgba(9,24,121,1) 100%);
  color: #AAB9E2;
}
footer .container .col-lg-4 img {
  padding-bottom: 5px;
}
footer ul li {
  list-style: none;
  display: inline-block;
  padding-right: 5px;
  font-size: 20px;
  padding-top: 10px;
}
footer ul li a {
  color: #AAB9E2;
  text-decoration: none;
}
footer span {
  display: block;
}
footer span.darker {
  color: #586785;
}
footer .col-lg-2 h4 {
  text-transform: capitalize;
  color: white;
}
footer .col-lg-2 ul li {
  display: block;
  font-size: 15px;
  text-transform: capitalize;
}


/* media query sezione md */

@media screen and (max-width: 992px) and (min-width: 768px) {

  /* header */
  /* navbar */
  .nav_logo {
    padding-left: 20px;
  }

  .hb_menu {
    display: inline-block;
  }

  .nav_link_center,
  .nav_link_right {
    display: none;
  }
  /* sezione principale header */
  .main_header_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main_header_text {

  }
  .main_header_text h1 {
    font-size: 40px;
  }

  /* sezione div con loghi */

  .partners_logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* zona deploy */

  .deploy_menu_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* sezione slider top */

  .slider_top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider_top_img i {
    font-size: 30px;
    line-height: 250px;
  }
  .slider_top_img img {
    height: 250px;
  }

  /* sezione features */

  .features {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* sezione awt */

  .around_the_world {
    padding-left: 20px;
    padding-right: 20px;
  }

  .atw_container_l,
  .atw_container_r {
    width: 100%;
  }

  /* slider bot */

  .slider_bot_title {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider_bot_arrow {
  line-height: 332px;
  font-size: 30px;
  }

  .col-lg-12.slider_circles {
    margin-top: 40px;
  }

  /* footer */

  footer {
    padding-left: 20px;
    padding-right: 20px;

  }

  footer .col-lg-2 h4 {
    padding-top: 20px;
  }
}

/* media query sezione xs */

@media screen and (max-width: 768px) {

  /* header */
  /* navbar */
  .nav_logo {
    padding-left: 20px;
  }

  .hb_menu {
    display: inline-block;
  }

  .nav_link_center,
  .nav_link_right {
    display: none;
  }

  /* sezione principale header */
  .main_header_container {

  }
  .main_header_text {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .main_header_text h1 {
    font-size: 50px;
    padding-bottom: 10px;
  }
  .main_header_text p {
    line-height: 35px;
  }

  .get_started_div {
    margin-top: 0;
  }

  /* sezione div con loghi */

  .partners_logo {
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo_info {
    background-size: 50%;
  }

  /* zona deploy */

  .deploy_col {
    padding-left: 10px;
  }
  .deploy_menu_container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .deploy_text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .deploy_text h2 {
    font-size: 45px;
  }

  .deploy_menu {
    width: 100%;
  }

  .deploy_stages_fl .deploy_col:first-child {
    padding-top: 20px;
  }

  .deploy_stages {
    height: auto;
  }
  .deploy_stages_fl,
  .deploy_stages_fr,
  .deploy_col {
    width: 100%;
  }

  /* zona slider top */

  .slider_top {
    padding-left: 20px;
    padding-right: 20px;
  }

  .slider_top_t_text h2 {
    font-size: 45px;
  }

  .slider_top_img i {
    font-size: 20px;
    line-height: 200px;
  }
  .slider_top_img img {
    height: 200px;
  }

  /* sezione features */

  .features {
    padding-left: 20px;
    padding-right: 20px;
  }

  .features_container h2 {
    font-size: 45px;
  }
  .features_container img {
    margin-top: 20px;
  }

  /* sezione awt */

  .around_the_world {
    padding-left: 20px;
    padding-right: 20px;
  }

  .atw_container_l,
  .atw_container_r {
    width: 100%;
  }

  /* slider bot */

  .slider_bot_title h2 {
    font-size: 45px;
  }

  .slider_bot_arrow {
    display: none;
  }

  .col-lg-12.slider_circles {
    margin-top: 40px;
  }

  /* footer */

  footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  footer .col-lg-2 h4 {
    padding-top: 20px;
  }
}
